.active {
  background-color: "#F4F4F4";
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100% !important;
  max-width: 96vw;
  align-items: center;
  overflow: visible !important;

  background-color: transparent !important;
  box-shadow: none !important;
}
